<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.village.mapper.PartyfupinMapper">
    
    <resultMap type="Partyfupin" id="PartyfupinResult">
        <result property="mid"    column="mid"    />
        <result property="mtitle"    column="mtitle"    />
        <result property="mcontent"    column="mcontent"    />
        <result property="uid"    column="uid"    />
        <result property="uname"    column="uname"    />
        <result property="pushdate"    column="pushdate"    />
        <result property="greadtotal"    column="greadtotal"    />
        <result property="mtype"    column="mtype"    />
        <result property="aid"    column="aid"    />
        <result property="note"    column="note"    />
        <result property="mpic"    column="mpic"    />
    </resultMap>
	
	<sql id="selectPartyfupinVo">
        select mid, mtitle, mcontent, uid, uname, pushdate, greadtotal, mtype, aid, note, mpic from partyfupin
    </sql>
	
    <select id="selectPartyfupinList" parameterType="Partyfupin" resultMap="PartyfupinResult">
        <include refid="selectPartyfupinVo"/>
        <where>
            <if test="mid != null "> and mid = #{mid}</if>
            <if test="mtitle != null  and mtitle != '' "> and mtitle LIKE CONCAT(CONCAT('%', #{mtitle}),'%')</if>
            <if test="mpic != null  and mpic != '' "> and mpic = #{mpic}</if>
            <if test="mcontent != null  and mcontent != '' "> and mcontent LIKE CONCAT(CONCAT('%', #{mcontent}),'%')</if>
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="uname != null  and uname != '' "> and uname LIKE CONCAT(CONCAT('%', #{uname}),'%')</if>
            <if test="pushdate != null and pushdate != ''"> and pushdate LIKE CONCAT(CONCAT('%', #{pushdate}),'%')</if>
            <if test="mtype != null "> and mtype = #{mtype}</if>
            <if test="aid != null  and aid != '' "> and aid = #{aid}</if>
            <if test="note != null  and note != '' "> and note LIKE CONCAT(CONCAT('%', #{note}),'%')</if>
        </where>
        ORDER BY pushdate DESC
    </select>
    
    <select id="selectPartyfupinById" parameterType="Integer" resultMap="PartyfupinResult">
        <include refid="selectPartyfupinVo"/>
        where mid = #{mid}
    </select>
        
    <insert id="insertPartyfupin" parameterType="Partyfupin">
        insert into partyfupin
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mid != null  ">mid,</if>
			<if test="mtitle != null  and mtitle != ''  ">mtitle,</if>
			<if test="mcontent != null  and mcontent != ''  ">mcontent,</if>
			<if test="uid != null  ">uid,</if>
			<if test="uname != null  and uname != ''  ">uname,</if>
			<if test="pushdate != null  ">pushdate,</if>
			<if test="greadtotal != null  ">greadtotal,</if>
			<if test="mtype != null  ">mtype,</if>
			<if test="aid != null  and aid != ''  ">aid,</if>
			<if test="note != null  and note != ''  ">note,</if>
			<if test="mpic != null  and mpic != ''  ">mpic,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mid != null  ">#{mid},</if>
			<if test="mtitle != null  and mtitle != ''  ">#{mtitle},</if>
			<if test="mcontent != null  and mcontent != ''  ">#{mcontent},</if>
			<if test="uid != null  ">#{uid},</if>
			<if test="uname != null  and uname != ''  ">#{uname},</if>
			<if test="pushdate != null  ">#{pushdate},</if>
			<if test="greadtotal != null  ">#{greadtotal},</if>
			<if test="mtype != null  ">#{mtype},</if>
			<if test="aid != null  and aid != ''  ">#{aid},</if>
			<if test="note != null  and note != ''  ">#{note},</if>
			<if test="mpic != null  and mpic != ''  ">#{mpic},</if>
         </trim>
    </insert>
	 
    <update id="updatePartyfupin" parameterType="Partyfupin">
        update partyfupin
        <trim prefix="SET" suffixOverrides=",">
            <if test="mtitle != null  and mtitle != ''  ">mtitle = #{mtitle},</if>
            <if test="mcontent != null  and mcontent != ''  ">mcontent = #{mcontent},</if>
            <if test="uid != null  ">uid = #{uid},</if>
            <if test="uname != null  and uname != ''  ">uname = #{uname},</if>
            <if test="pushdate != null  ">pushdate = #{pushdate},</if>
            <if test="greadtotal != null  ">greadtotal = #{greadtotal},</if>
            <if test="mtype != null  ">mtype = #{mtype},</if>
            <if test="aid != null  and aid != ''  ">aid = #{aid},</if>
            <if test="note != null  and note != ''  ">note = #{note},</if>
            <if test="mpic != null  and mpic != ''  ">mpic = #{mpic},</if>
        </trim>
        where mid = #{mid}
    </update>

	<delete id="deletePartyfupinById" parameterType="Integer">
        delete from partyfupin where mid = #{mid}
    </delete>
	
    <delete id="deletePartyfupinByIds" parameterType="String">
        delete from partyfupin where mid in 
        <foreach item="mid" collection="array" open="(" separator="," close=")">
            #{mid}
        </foreach>
    </delete>

    <select id="selectfupinListById" parameterType="pubObjApi" resultMap="PartyfupinResult">
        <include refid="selectPartyfupinVo"/>
        <where>
            <if test="aid != null  and aid != '' ">aid in
                <foreach collection="listaid" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach></if>
            <if test="title != null  and title != ''  ">and mtitle LIKE CONCAT(CONCAT('%', #{title}),'%')</if>
        </where>
        ORDER BY pushdate DESC
        limit #{pageSize} offset #{pageIndex}
    </select>
</mapper>