<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.village.mapper.TbHuodongMapper">
    
    <resultMap type="TbHuodong" id="TbHuodongResult">
        <result property="hdid"    column="hdid"    />
        <result property="hdtitle"    column="hdtitle"    />
        <result property="hdtype"    column="hdtype"    />
        <result property="hdloc"    column="hdloc"    />
        <result property="hdnum"    column="hdnum"    />
        <result property="hdbtime"    column="hdbtime"    />
        <result property="hdetime"    column="hdetime"    />
        <result property="hdpic"    column="hdpic"    />
        <result property="hdsum"    column="hdsum"    />
        <result property="hdadddate"    column="hdadddate"    />
        <result property="uid"    column="uid"    />
        <result property="uname"    column="uname"    />
        <result property="aid"    column="aid"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectTbHuodongVo">
        select hdid, hdtitle, hdtype, hdloc, hdnum, hdbtime, hdetime, hdpic, hdsum, hdadddate, uid, uname, aid, remark from tb_huodong
    </sql>
	
    <select id="selectTbHuodongList" parameterType="TbHuodong" resultMap="TbHuodongResult">
        <include refid="selectTbHuodongVo"/>
        <where>  
            <if test="hdid != null "> and hdid = #{hdid}</if>
             <if test="hdtitle != null  and hdtitle != '' "> and hdtitle = #{hdtitle}</if>
             <if test="hdtype != null  and hdtype != '' "> and hdtype = #{hdtype}</if>
             <if test="hdloc != null  and hdloc != '' "> and hdloc = #{hdloc}</if>
             <if test="hdnum != null  and hdnum != '' "> and hdnum = #{hdnum}</if>
             <if test="hdbtime != null  and hdbtime != '' "> and hdbtime = #{hdbtime}</if>
             <if test="hdetime != null  and hdetime != '' "> and hdetime = #{hdetime}</if>
             <if test="hdpic != null  and hdpic != '' "> and hdpic = #{hdpic}</if>
             <if test="hdsum != null  and hdsum != '' "> and hdsum = #{hdsum}</if>
             <if test="hdadddate != null "> and hdadddate = #{hdadddate}</if>
             <if test="uid != null  and uid != '' "> and uid = #{uid}</if>
             <if test="uname != null  and uname != '' "> and uname = #{uname}</if>
             <if test="aid != null  and aid != '' "> and aid = #{aid}</if>
             <if test="remark != null "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectTbHuodongById" parameterType="Integer" resultMap="TbHuodongResult">
        <include refid="selectTbHuodongVo"/>
        where hdid = #{hdid}
    </select>
        
    <insert id="insertTbHuodong" parameterType="TbHuodong">
        insert into tb_huodong
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hdid != null  ">hdid,</if>
			<if test="hdtitle != null  and hdtitle != ''  ">hdtitle,</if>
			<if test="hdtype != null  and hdtype != ''  ">hdtype,</if>
			<if test="hdloc != null  and hdloc != ''  ">hdloc,</if>
			<if test="hdnum != null  and hdnum != ''  ">hdnum,</if>
			<if test="hdbtime != null  and hdbtime != ''  ">hdbtime,</if>
			<if test="hdetime != null  and hdetime != ''  ">hdetime,</if>
			<if test="hdpic != null  and hdpic != ''  ">hdpic,</if>
			<if test="hdsum != null  and hdsum != ''  ">hdsum,</if>
			<if test="hdadddate != null  ">hdadddate,</if>
			<if test="uid != null  and uid != ''  ">uid,</if>
			<if test="uname != null  and uname != ''  ">uname,</if>
			<if test="aid != null  and aid != ''  ">aid,</if>
			<if test="remark != null  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="hdid != null  ">#{hdid},</if>
			<if test="hdtitle != null  and hdtitle != ''  ">#{hdtitle},</if>
			<if test="hdtype != null  and hdtype != ''  ">#{hdtype},</if>
			<if test="hdloc != null  and hdloc != ''  ">#{hdloc},</if>
			<if test="hdnum != null  and hdnum != ''  ">#{hdnum},</if>
			<if test="hdbtime != null  and hdbtime != ''  ">#{hdbtime},</if>
			<if test="hdetime != null  and hdetime != ''  ">#{hdetime},</if>
			<if test="hdpic != null  and hdpic != ''  ">#{hdpic},</if>
			<if test="hdsum != null  and hdsum != ''  ">#{hdsum},</if>
			<if test="hdadddate != null  ">#{hdadddate},</if>
			<if test="uid != null  and uid != ''  ">#{uid},</if>
			<if test="uname != null  and uname != ''  ">#{uname},</if>
			<if test="aid != null  and aid != ''  ">#{aid},</if>
			<if test="remark != null  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateTbHuodong" parameterType="TbHuodong">
        update tb_huodong
        <trim prefix="SET" suffixOverrides=",">
            <if test="hdtitle != null  and hdtitle != ''  ">hdtitle = #{hdtitle},</if>
            <if test="hdtype != null  and hdtype != ''  ">hdtype = #{hdtype},</if>
            <if test="hdloc != null  and hdloc != ''  ">hdloc = #{hdloc},</if>
            <if test="hdnum != null  and hdnum != ''  ">hdnum = #{hdnum},</if>
            <if test="hdbtime != null  and hdbtime != ''  ">hdbtime = #{hdbtime},</if>
            <if test="hdetime != null  and hdetime != ''  ">hdetime = #{hdetime},</if>
            <if test="hdpic != null  and hdpic != ''  ">hdpic = #{hdpic},</if>
            <if test="hdsum != null  and hdsum != ''  ">hdsum = #{hdsum},</if>
            <if test="hdadddate != null  ">hdadddate = #{hdadddate},</if>
            <if test="uid != null  and uid != ''  ">uid = #{uid},</if>
            <if test="uname != null  and uname != ''  ">uname = #{uname},</if>
            <if test="aid != null  and aid != ''  ">aid = #{aid},</if>
            <if test="remark != null  ">remark = #{remark},</if>
        </trim>
        where hdid = #{hdid}
    </update>

	<delete id="deleteTbHuodongById" parameterType="Integer">
        delete from tb_huodong where hdid = #{hdid}
    </delete>
	
    <delete id="deleteTbHuodongByIds" parameterType="String">
        delete from tb_huodong where hdid in 
        <foreach item="hdid" collection="array" open="(" separator="," close=")">
            #{hdid}
        </foreach>
    </delete>
    
</mapper>