<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.ProgramMapper">

    <!-- 字段 -->
    <sql id="Field">
		 fid,
	     fname,
	     userid,
	     remark,
	     ispublic,
	     filename,
	     urls,
	     address,
	     createdtime,
         flenth,
         fsize,
         ptype
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		 #{fid},
	     #{fname},
	     #{userid},
	     #{remark},
	     #{ispublic},
	     #{filename},
	     #{urls},
	      #{address},
	     #{createdtime},
         #{flenth},
         #{fsize},
         #{ptype}
	</sql>
    <!--表名 -->
    <sql id="tableName">
		programs
	</sql>
    <sql id="areatableName">
		area
	</sql>
    <sql id="userstable">
		userinfo
	</sql>
    <resultMap type="Program" id="programMap">
        <result property="fid"    column="fid"    />
        <result property="fname"    column="fname"    />
        <result property="userid"    column="userid"    />
        <result property="remark"    column="remark"    />
        <result property="ispublic"    column="ispublic"    />
        <result property="filename"    column="filename"    />
        <result property="urls"    column="urls"    />
        <result property="address"    column="address"    />
        <result property="createdtime"    column="createdtime"    />
        <result property="ptype"    column="ptype"    />
        <result property="flenth"    column="flenth"    />
        <result property="fsize"    column="fsize"    />
        <result property="uname"    column="uname"    />
    </resultMap>
    <!--根据用户查询节目列表 -->
    <select id="selectProList" parameterType="com.ruoyi.broad.domain.Program" resultMap="programMap">
        select
        fid,fname,g.userid as userid,remark,ispublic,filename,urls,address,createdtime,ptype,flenth,fsize,ui.uname
        from
        <include refid="tableName"></include> g
        LEFT JOIN <include refid="userstable"></include> ui on g.userid=ui.userid
        <where>
            <if test="uname != null and uname != '' "> and ui.uname like '%${uname}%'</if>
            <if test="fname != null  and fname != '' "> and fname like '%${fname}%'</if>
            <if test="ispublic != null "> and ispublic = ${ispublic}</if>
            <if test="downtime != null and downtime != ''"><!-- 开始时间检索 -->
                AND date_format(createdtime,'%y%m%d') &gt;= date_format(#{downtime},'%y%m%d')
            </if>
            <if test="endtime != null and endtime != ''"><!-- 结束时间检索 -->
                AND date_format(createdtime,'%y%m%d') &lt;= date_format(#{endtime},'%y%m%d')
            </if>
        </where>
        order by  createdtime desc,fid desc
    </select>
    <!--得到当年最大的文件标号-->
    <select id="getMaxFileidofYear" parameterType="String" resultType="String">
        SELECT SUBSTRING(MAX(SUBSTRING(filename,3)),1,5)
        FROM <include refid="tableName"></include>
        where SUBSTRING(filename,1,2) = SUBSTRING(#{year},3)
    </select>

    <!--根据用户查询节目列表 -->
    <select id="selectFileByFileName" parameterType="String" resultMap="programMap">
        select
        fid,fname,g.userid as userid,remark,ispublic,filename,urls,address,createdtime,ptype,flenth,fsize,uname
        from
            <include refid="tableName"></include>
        where filename = #{name}
    </select>
    <insert id="insertProgram" parameterType="Program">
        insert into
        <include refid="tableName"></include>
        (
	     fname,
	     filename,
	     userid,
	     ispublic,
	     urls,
	     address,
	     flenth,
	     fsize,
	     createdtime,
	     islisten,ptype,uname
		) values (
	     #{fname},
         #{filename},
         #{userid},
	     #{ispublic},
	     #{urls},
	     #{address},
	     #{flenth},
	     #{fsize},
	     #{createdtime},
	     #{islisten},#{ptype},#{uname}
		)
    </insert>

    <delete id="deleteProgram" parameterType="String">
            delete from programs where fid in
        <foreach item="fid" collection="array" open="(" separator="," close=")">
            #{fid}
        </foreach>
    </delete>
</mapper>