<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.ProListenMapper">

    <resultMap type="ProListen" id="ProListenResult">
        <result property="paid"    column="paid"    />
        <result property="pname"    column="pname"    />
        <result property="userid"    column="userid"    />
        <result property="uname"     column="uname"     />
        <result property="requires"    column="requires"    />
        <result property="isemergency"    column="isemergency"    />
        <result property="timelimit"    column="timelimit"    />
        <result property="filename"    column="filename"    />
        <result property="fileurl"    column="fileurl"    />
        <result property="submittime"    column="submittime"    />
        <result property="iscancel"    column="iscancel"    />
        <result property="isread"    column="isread"    />
        <result property="isreply"    column="isreply"    />
        <result property="replytime"    column="replytime"    />
        <result property="replyperson"    column="replyperson"    />
        <result property="replyprogramid"    column="replyprogramid"    />
        <result property="islisten"    column="islisten"    />
        <result property="nopassreason"    column="nopassreason"    />
        <result property="listenpass"    column="listenpass"    />
        <result property="nopasstimes"    column="nopasstimes"    />
        <result property="fid" column="fid"  />
        <result property="urls" column="urls"/>
        <result property="fname" column="fname"/>
        <result property="profilename" column="profilename"/>
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
        prore_apply
    </sql>
    <sql id="programtable">
        programs
    </sql>
    <sql id="areatableName">
        user.area
    </sql>
    <sql id="userstable">
        user.userinfo
    </sql>

    <!--根据用户查询节目申请列表 -->
    <select id="selectProListenList" parameterType="ProListen" resultMap="ProListenResult">
        select
            paid,
            pname,
            pa.userid as userid,
            ui.uname as uname,
            requires,
            isemergency,
            timelimit,
            pa.filename as filename,
            fileurl,
            submittime,
            iscancel,
            isreply,
            replytime,
            replyperson,
            replyprogramid,
            pa.islisten as islisten,
            nopassreason,
            listenpass,
            nopasstimes,
            isread,fid,urls,fname,p.filename as profilename
        from
    (<include refid="tableName"></include> pa LEFT JOIN <include refid="userstable"></include> ui on pa.userid=ui.userid)
    left join <include refid="programtable"></include> p on pa.replyprogramid=p.fid
        <where>
            <if test="paid != null  and paid != '' ">and paid like CONCAT('%',#{paid},'%')</if>
            <if test="pname != null  and pname != '' ">and pname like CONCAT('%',#{pname},'%')</if>
            <if test="userid != null  and userid != '' ">and userid like CONCAT('%',#{userid},'%')</if>
            <if test="uname != null  and uname != '' ">and ui.uname like CONCAT('%',#{uname},'%')</if>
            <if test="requires != null  and requires != '' ">and requires like CONCAT('%',#{requires},'%')</if>
            <if test="isemergency != null  and isemergency != '' ">and isemergency = like CONCAT('%',#{isemergency},'%')</if>
            <if test="timelimit != null  and timelimit != '' ">and timelimit = #{timelimit}</if>
            <if test="filename != null  and filename != '' ">and pa.filename like CONCAT('%',#{filename},'%')</if>
            <if test="fileurl != null  and fileurl != '' ">and fileurl like CONCAT('%',#{fileurl},'%')</if>
            <if test="submittime != null  and submittime != '' ">and submittime like CONCAT('%',#{submittime},'%')</if>
            <if test="iscancel != null  and iscancel != '' ">and iscancel like CONCAT('%',#{iscancel},'%')</if>
        </where>
    </select>

</mapper>