<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.UserInfoDTOMapper">
    
    <resultMap type="UserInfoDTO" id="UserInfoDTOResult">
        <result property="userid"    column="userid"    />
        <result property="uname"    column="uname"    />
    </resultMap>

	<select id="findAll" resultMap="UserInfoDTOResult">
        select * from userinfo_view;
    </select>
	
    <select id="findById" parameterType="String" resultMap="UserInfoDTOResult">
        select * from userinfo_view where userid=#{userid};
    </select>


</mapper>